---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for path in site.staticPaths %}
  <url>
    <loc>{{ site.url | sitemapUrl(path) }}</loc>
    <lastmod>{{ site.buildDate }}</lastmod>
  </url>
  {% endfor %}
  {% set pageCount = collections.posts.length | blogPageCount(site.blogPageSize) %}
  {% for n in pageCount | rangeFromOne %}
  <url>
    {% if n == 1 %}
    <loc>{{ site.url | sitemapUrl("/blog/") }}</loc>
    {% else %}
    <loc>{{ site.url | sitemapUrl("/blog/page/" ~ n ~ "/") }}</loc>
    {% endif %}
    <lastmod>{{ site.buildDate }}</lastmod>
  </url>
  {% endfor %}
  {% for post in collections.posts %}
  <url>
    <loc>{{ site.url | sitemapUrl(post.url) }}</loc>
    <lastmod>{{ post.date | isoDate }}</lastmod>
  </url>
  {% endfor %}
</urlset>
