<!-- Google tag (gtag.js) body backup - G-C9E4E778Y8 -->
<script>
  if (!document.querySelector('script[src*="G-C9E4E778Y8"]')) {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    var gtagScript = document.createElement('script');
    gtagScript.async = true;
    gtagScript.src = 'https://www.googletagmanager.com/gtag/js?id=G-C9E4E778Y8';
    document.head.appendChild(gtagScript);
    gtag('config', 'G-C9E4E778Y8');
  }
</script>
